{% extends "admin-base.html" %}

{% block extrahead %} 
<title>Movie Shutter - View Customer Profile</title>
{% endblock %}

{% block content %}
<div class="profile">
	<label>Profile</label>
	<table>
	<tr>
	<td class="label">ID:</td>
	<td class="detail">{{customer.id}}</td>
	</tr>
	<tr>
	<td class="label">Account:</td>
	<td class="detail">{{customer.account}}</td>
	</tr>
	<tr>
	<td class="label">First Name:</td>
	<td class="detail">{{customer.first}}</td>
	</tr>
	<tr>
	<td class="label">Middle Name:</td>
	<td class="detail">{{customer.middle}}</td>
	</tr>
	<tr>
	<td class="label">Last Name:</td>
	<td class="detail">{{customer.last}}</td>
	</tr>
	<tr>
	<td class="label">Gender:</td>
	<td class="detail">
		{% if customer.gender == 0 %}
			Male
		{% elif customer.gender == 1 %}
			Female
		{% endif %}
	</td>
	</tr>
	<tr>
	<td class="label">Birthday:</td>
	<td class="detail">{{customer.birthday|date:"Y-m-d" }}</td>
	</tr>
	<tr>
	<td class="label">Occupation:</td>
	<td class="detail">{{customer.occupation.name}}</td>
	</tr>
	<tr>
	<td class="label">Email:</td>
	<td class="detail">{{customer.email}}</td>
	</tr>
	<tr>
	<td class="label">Phone:</td>
	<td class="detail">{{customer.phone}}</td>
	</tr>
	<tr>
	<td class="label">City:</td>
	<td class="detail">{{customer.city}}</td>
	</tr>
	<tr>
	<td class="label">State:</td>
	<td class="detail">{{customer.state.name}}</td>
	</tr>
	<tr>
	<td class="label">Zip</td>
	<td class="detail">{{customer.zip}}</td>
	</tr>
	</table>
</div>
{% endblock %}