{% extends "admin-base.html" %}

{% block extrahead %} 
<title>Movie Shutter - Admin - Add Movie</title>
{% endblock %}

{% block content %}
<div class="password">
	<label>Add Promotion</label>
	<form action="/admin_addpromotion/" method="post" enctype="multipart/form-data"> 
	<table>
	<tr>
	<td class="label">Code:</td>
	<td class="input"><input type="text" name="code" class="blink register-field"/></td>
	<td class="message" name="code"></td>
	</tr>
	<tr>
	<td class="label">Start Date:</td>
	<td class="input"><input type="date" name="begin" class="blink register-field"/></td>
	<td class="message" name="begin"></td>
	</tr><tr>
	<td class="label">End Date:</td>
	<td class="input"><input type="date" name="end" class="blink register-field"/></td>
	<td class="message" name="end"></td>
	</tr><tr>
	<td class="label">Discount:</td>
	<td class="input"><input type="number" name="discount" class="blink register-field"/>%</td>
	<td class="message" name="discount"></td>
	</tr>
	<tr>
	<td ></td>
	<td><input  type="submit" value="Create" class="button toleft" onClick="return admin_checkpromotion();"/></td>
	<td ></td>
	</tr>
	</table>
	
	</form>
</div>
{% endblock %}