<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en-US" xmlns="http://www.w3.org/1999/xhtml" dir="ltr">
<head>
	<title>Movie Shutter - Admin Login</title>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" href="{{STATIC_URL}}css/style.css" type="text/css" media="all" />
	<!--[if IE 6]>
		<link rel="stylesheet" href="css/ie6.css" type="text/css" media="all" />
	<![endif]-->
	<script type="text/javascript" src="{{STATIC_URL}}js/jquery-1.4.2.min.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/jquery-func.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/jquery-mine.js"></script>
</head>
<body>
<!-- Shell -->
<div id="shell">
	<!-- Header -->
	<div id="header">
		<h1 id="logo"><a href="/">Movie Hunter</a></h1>
		<div class="social">
			
		</div>
		
		<!-- Navigation -->
		<div id="navigation">
			<ul>
			    <li><a href="/">HOME</a></li>
			    {% if request.session.admin %}
			    <li><a href="/admin_home/"><p>Hello,{{request.session.admin.name}},</p>
				<p>My Account</p></a></li>
			    <li><a href="/admin_logout/">Sign Out</a></li>
				{% else %}
				<li><a href="/admin_login/"><p>Sign in</p></a></li>
				{% endif %}
			</ul>
		</div>
		<!-- end Navigation -->
		
		<!-- Sub-menu -->
		<div id="sub-navigation">
			
		</div>
		<!-- end Sub-Menu -->
		
	</div>
	<!-- end Header -->
	
	<!-- Login-->
	<div id="login">
	<label>Admin Login</label>
	<table class="login_table">
	<tr>
	<td class="label">Account</td>
	<td class="input"><input type="text" name="account" class="blink login-field"  /></td>
	</tr>
	<tr>
	<td class="label">Password</td>
	<td class="input"><input type="password" name="password" class="blink login-field"  /></td>
	</tr>
	<tr>
	<td></td>
	<td><input type="reset" value="Reset" class="button"  onClick="reset();"/>
		<input type="button"value="Submit" class="button" onClick="admin_js_login();"/></td>
	</tr>
	</table>
<!-- end Login -->

	<!-- Footer -->
	<div id="footer">
		<p>
			<a href="/">HOME</a> <span>|</span>
			<a href="/toprating/?page=1">Top Rated</a> <span>|</span>
			<a href="/recommend/?page=1">Recommends</a> <span>|</span>

		</p>
		<p> &copy; 2014 Movie Hunter(Capstone Project), LLC. All Rights Reserved. By Gong Chen</p>
	</div>
	<!-- end Footer -->
</div>
<!-- end Shell -->
</body>
</html>