{% extends "customer-base.html" %}

{% block extrahead %} 
	<title>Movie Shutter - View Order Credit</title>
{% endblock %}

{% block content %}
<div class="credit">
	<label>Credit</label>
	<table>
	<tr>
	<td class="label">Card Number:</td>
	<td class="detail">************{{order.creidt_number | slice:"12:"}}</td>
	</tr>
	<tr>
	<td class="label">Card Type:</td>
	<td class="detail">
		{% if order.creidt_type == 0 %}
			Visa
		{% elif  order.creidt_type == 1 %}
			Master
		{% elif  order.creidt_type == 2 %}
			Debit
		{% endif %}</td>
	</tr>
	<tr>
	<td class="label">Expire Date:</td>
	<td class="detail">{{order.creidt_expire | date:"Y-m"}}</td>
	</tr>
	<tr>
	<td class="label">Card Holder:</td>
	<td class="detail">{{order.creidt_holder}}</td>
	</tr>
	<tr>
	<td class="label">Billing Address:</td>
	<td class="detail">{{order.creidt_address}}</td>
	</tr>
	<tr>
	<td class="label">City:</td>
	<td class="detail">{{order.creidt_city}}</td>
	</tr>
	<tr>
	<td class="label">State:</td>
	<td class="detail">{{order.creidt_state.name}}</td>
	</tr>
	<tr>
	<td class="label">Zip:</td>
	<td class="detail">{{order.creidt_zip}}</td>
	</tr>
	</table>
</div>
{% endblock %}