{% extends "trivial-base.html" %}

{% block extrahead %} 
<title>Movie Shutter - Forget Password</title>
{% endblock %}

{% block content %}
<!-- Register -->
<div id="register">
	<label>Forget Password</label>
	<form action="/forgetpassword/" method="post" enctype="multipart/form-data">
		<table class="registration_table">
			<tr>
			<td colspan="2">Please fill the following fields to find back your password </td>
			</tr>
			<tr>
			<td class="label">Account:</td>
			<td class="input"><input type="text" name="account" class="blink register-field required" /></td>
			<td class="message" name="account"></td>
			</tr>
			<tr>
			<td class="label">First Name</td>
			<td class="input"><input type="text" name="first"  class="blink register-field"  /></td>
			<td class="message" name="first"></td>
			</tr>
			<tr>
			<td class="label">Last Name</td>
			<td class="input"><input type="text" name="last"  class="blink register-field"  /></td>
			<td class="message" name="last"></td>
			</tr>
			<tr>
			<td class="label">Birthday</td>
			<td class="input"><input type="date" name="birthday" class="blink register-field"  /></td>
			<td class="message" name="birthday"></td>
			</tr>
			<tr>
			<td class="label">Email</td>
			<td class="input"><input type="text" name="email"  class="blink register-field"  /></td>
			<td class="message" name="email"></td>
			</tr>
			<tr>
			<td class="label">Phone</td>
			<td class="input"><input type="text" name="phone"  class="blink register-field"  /></td>
			<td class="message" name="phone"></td>
			</tr>
			<tr>
			<td class="label"></td>
			<td>
				<input type="reset" value="Reset" class="button" onClick ="reset();"/>
				<input type="submit" value="Submit" class="button"  onClick ="return popAlert('Your new passowrd has been sent to you though Email. Please Check it.');"/>
				</td>
			<td class="message"></td>
			</tr>
		</table>
	</form>
</div>
<!-- End of Register -->
{% endblock %}